<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <script>
    function validatePasswords() {
      const password = document.getElementById("password").value;
      const confirmPassword = document.getElementById("confirm_password").value;

      if (password !== confirmPassword) {
        document.getElementById("confirm_password").setCustomValidity("Passwords do not match.");
      } else {
        document.getElementById("confirm_password").setCustomValidity(""); // Clear error if matched
      }
    }
  </script>
</head>
<body>
<div layout:fragment="main-content">
  <!-- Display error message if it exists -->
  <div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
  </div>

  <div th:if="${msg}" class="alert alert-success">
    <p th:utext="${msg}"></p>
  </div>

  <div th:if="${email}" class="alert alert-success">
    <p th:text="${email}"></p>
  </div>

  <form id="resetPasswordForm" th:action="@{/reset-password}" method="post">

    <div class="form-group">
      <label for="verification_Code">Verification Code</label>
      <input type="text" class="form-control" name="verification_Code" id="verification_Code" required/>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password"
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
             title="Password must be at least 8 characters long, include at least one uppercase letter, one lowercase letter and one number"
             required onchange="validatePasswords()"/>
    </div>

    <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" class="form-control" name="confirm_password" id="confirm_password" required  onchange="validatePasswords()"/>
    </div>

    <div> </div>

    <input type="hidden" th:name="email" th:value="${email}" name="email" id="email"/>

    <div><input type="submit" class="btn btn-primary" value="Change Password" /></div>
  </form>
</div>
</body>
</html>