<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Adoption Request Details</title>
</head>
<body>
<div id="tableContainer" layout:fragment="main-content" class="container">
    <h1>Adoption Request Details</h1>
    <table class="datatable">
        <thead>
        <tr>
            <th>Adopter Name</th>
            <th>Adopter Email</th>
            <th>Pet Name</th>
            <th>Pet ID</th>
            <th>Shelter</th>
            <th>Request Status</th>
            <th>Request Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${adoptionRequest}" th:data-id="${adoptionRequest.id}" class="adoption-request-row">
            <td th:text="*{adopter.fullName}"></td>
            <td th:text="*{adopter.email}"></td>
            <td th:text="*{pet.name}"></td>
            <td th:text="*{pet.id}"></td>
            <td th:text="*{pet.shelter.fullName}"></td>
            <td th:text="*{requestStatus}"></td>
            <td th:text="*{getReadableDateTime()}"></td>
            <td>
                <form th:action="@{/admin/adoption-request/{id}/notify(id=${adoptionRequest.id})}" method="post">
                    <button type="submit" class="btn btn-success" style="margin-bottom:5px;"
                        onclick="disableButton(this)">Notify Shelter</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
<!--   space under the table and between the button  -->

    <div>
        <a href="/admin/pets/all" class="btn button btn-secondary" style="margin-top: 20px">Back to List</a>
    </div>
</div>
</body>
</html>
<link rel="stylesheet" th:href="@{/css/datatablesCustom.css}">
<script th:src="@{/js/custom.js}"></script>
<script>
    window.onload = handleAdoptionRequestsOnLoad;
</script>