<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <div class="inner">
        <h3 class="masthead-brand">Pet Lovers</h3>
        <nav class="nav nav-masthead justify-content-center">
            <!--  Dashboard   -->
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/dashboard">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
            <a sec:authorize="hasRole('ROLE_SHELTER')" class="nav-link" href="/shelter/dashboard">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
            <a sec:authorize="hasRole('ROLE_VET')" class="nav-link" href="/vet/dashboard">
            <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
            <a sec:authorize="hasRole('ROLE_ADOPTER')" class="nav-link" href="/adopter/dashboard">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>

            <a sec:authorize="!isAuthenticated()" class="nav-link" href="/">Greeting Page</a>

            <a sec:authorize="!isAuthenticated() or hasRole('ROLE_ADOPTER')" class="nav-link" href="/pets">
                <i class="fa fa-paw" aria-hidden="true"></i> Pets
            </a>


            <!-- Admin Links -->
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/users">
                <i class="fa fa-users" aria-hidden="true"></i> Users</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/shelters">Shelters</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/pets/all">
                <i class="fa fa-paw" aria-hidden="true"></i> All Pets
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/pets">Pet Submissions</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/adoption-requests">Adoption Requests</a>

            <!-- Shelter Links -->
            <a sec:authorize="hasRole('ROLE_SHELTER')" class="nav-link" href="/shelter/pets">
            <i class="fa fa-paw" aria-hidden="true"></i> My Pets
            </a>
            <a sec:authorize="hasRole('ROLE_SHELTER')" class="nav-link" href="/adoption-requests/shelter">Adoption Requests</a>
            <a sec:authorize="hasRole('ROLE_SHELTER')" class="nav-link" href="/shelter/new-pet">Register New Pet</a>
            <a sec:authorize="hasRole('ROLE_SHELTER')" class="nav-link" href="/shelter/visits">
                <i class="fa fa-calendar" aria-hidden="true"></i> Visits</a>
            <a sec:authorize="hasRole('ROLE_SHELTER')" class="nav-link" href="/shelter/vet-review">Vet Request</a>

            <!-- Vet Links -->
            <a sec:authorize="hasRole('ROLE_VET')" class="nav-link" href="/vet/health-status">Pet's Health Status</a>
            <a sec:authorize="hasRole('ROLE_VET')" class="nav-link" href="/vet/employment-request">Request Shelter Submission</a>
            <a sec:authorize="hasRole('ROLE_VET')" class="nav-link" href="/vet/shelters">My Shelters</a>

            <!-- Adopter Links -->
            <a sec:authorize="hasRole('ROLE_ADOPTER')" class="nav-link" href="/adopter/visits">
                <i class="fa fa-calendar" aria-hidden="true"></i> Scheduled Visits</a>
            <a sec:authorize="hasRole('ROLE_ADOPTER')" class="nav-link" href="/adoption-requests/adopter">My Adoption Requests</a>
            <a sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')" class="nav-link" href="/profile">
                <i class="fa-regular fa-user"></i> My Profile
            </a>
            <!-- Authentication Links -->
            <a sec:authorize="!isAuthenticated()"  class="nav-link">
                <a  class="nav-link" href="/login">Login</a>
                <a  class="nav-link" href="/register/adopter">Register</a>
            </a>
            <a sec:authorize="isAuthenticated()"  class="nav-link">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"  class="btn btn-primary" value="Sign Out"/>
                </form>
            </a>
        </nav>
    </div>
</header>
</body>
</html>