<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Request Adoption</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Request Adoption</h1>

    <form th:action="@{/adopter/pets/{id}/request-adoption(id=${adoptionRequest.pet.id})}" method="post" th:object="${adoptionRequest}">

        <!-- Display adopter's name -->
        <div class="form-group">
            <label for="adopterName">Adopter Name</label>
            <input type="text" class="form-control" id="adopterName" th:value="${adoptionRequest.adopter.fullName}" readonly>
        </div>

        <!-- Display pet's name -->
        <div class="form-group">
            <label for="petName">Pet Name</label>
            <input type="text" class="form-control" id="petName" th:value="${adoptionRequest.pet.name}" readonly>
        </div>

        <!-- Display Shelter -->
        <div class="form-group">
            <label for="shelterLoc">Shelter</label>
            <input type="text" class="form-control" id="shelterLoc" th:value="${adoptionRequest.shelter.fullName}" readonly>
        </div>

        <!-- Display Location -->
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" th:value="${adoptionRequest.shelter.location}" readonly>
        </div>

        <!-- Display Number -->
        <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input type="text" class="form-control" id="contactNumber" th:field="${adoptionRequest.contactNumber}" readonly>
        </div>

        <!-- Input for desired visit time -->
        <div class="form-group">
            <label for="dateTime">Time of Visit</label>
            <input type="datetime-local" class="form-control" id="dateTime" th:field="*{dateTime}" required>
        </div>

        <!-- Submit and cancel buttons -->
        <div class="form-group">
            <button type="submit" class="btn">Submit Request</button>
            <a href="/pets" class="btn btn-secondary">Cancel</a>
        </div>


        <!-- Hidden fields-->
        <input type="hidden" id="adopter" th:field="*{adopter}">
        <input type="hidden" id="pet" th:field="*{pet}">
        <input type="hidden" id="shelter" th:field="*{shelter}">
    </form>
</div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let now = new Date();
        let formattedDateTime = now.toISOString().slice(0, 16); // YYYY-MM-DDTHH:MM format

        document.getElementById("dateTime").setAttribute("min", formattedDateTime);
    });
</script>
