/* Standardize link styles */
a, a:visited {
    color: #d8efd8;
    text-decoration: none;
}

a:hover, a:focus {
    color: #f1fff1;
}

.nav-link.active {
    color: #f1fff1 !important;
    background-color: transparent;
    border-bottom: 2px solid #5d935d;
}

.masthead-brand{
    float: inherit;
}

.nav-masthead {
    float: inherit;
}

.masthead-brand{
    float: inherit;
}

/* Fix buttons globally */
.btn, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover, input[type="submit"]:hover {
    background-color: #529a52;
}

.btn-info {
    background-color: #46af4d;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-info:hover {
    background-color: #388E3C;
}


.form-control {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
}

select.form-control {
    line-height: 1.6;
    padding: 5px 10px;
    height: auto;
    font-size: 1rem;
    vertical-align: middle;
}

.form-text {
    color: #a3b18a;
    font-size: 0.9rem;
}

.text-danger {
    color: #d9534f;
    font-size: 0.9rem;
}

.cover-container {
    max-width: 75em;
}

.dashboard-container {
    background-color: #588157;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-container h2 {
    color: #f1fff1;
    font-size: 2em;
    margin-bottom: 15px;
}

.dashboard-container p, .dashboard-container ul {
    color: #e8f5e9;
    font-size: 1em;
    line-height: 1.5em;
}

.dashboard-container ul {
    list-style-type: none;
    padding-left: 0;
}

.dashboard-container li {
    padding: 5px 0;
}