<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Adoption Request Details</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Adoption Request Details</h1>

    <div>
        <p><strong>Adopter Name:</strong> <span th:text="${adoptionRequest.adopter.fullName}"></span></p>
        <p><strong>Adopter Email:</strong> <span th:text="${adoptionRequest.adopter.email}"></span></p>
        <p><strong>Pet Name:</strong> <span th:text="${adoptionRequest.pet.name}"></span></p>
        <p><strong>Pet ID:</strong> <span th:text="${adoptionRequest.pet.id}"></span></p>
        <p><strong>Shelter:</strong> <span th:text="${adoptionRequest.pet.shelter.fullName}"></span></p>
        <p><strong>Request Status:</strong> <span th:text="${adoptionRequest.requestStatus}"></span></p>
        <p><strong>Request Date:</strong> <span th:text="${adoptionRequest.getReadableDateTime()}"></span></p>
    </div>
    <!-- Approval and Rejection Buttons -->
    <div th:if="${adoptionRequest.requestStatus.toString() == 'PENDING'}">
        <form th:action="@{/adoption-requests/shelter/{id}/approve(id=${adoptionRequest.id})}" method="post" style="display: inline-block; margin-right: 10px;">
            <button type="submit" class="btn btn-success">Approve</button>
        </form>
        <form th:action="@{/adoption-requests/shelter/{id}/reject(id=${adoptionRequest.id})}" method="post" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Reject</button>
        </form>
    </div>

    <!-- Back to List -->
    <div>
        <a href="/adoption-requests/shelter" class="btn btn-secondary" style="margin-top: 10px">Back to List</a>
    </div>

</div>
</body>
</html>