<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Shelter Details</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Shelter Details</h1>

    <div>
        <p><strong>Name:</strong> <span th:text="${shelter.fullName}"></span></p>
        <p><strong>Location:</strong> <span th:text="${shelter.location}"></span></p>
        <p><strong>Email:</strong> <span th:text="${shelter.email}"></span></p>
        <p><strong>Contact Number:</strong> <span th:text="${shelter.contactNumber}"></span></p>
    </div>

    <div>
        <a th:href="@{/adopter/shelter/{shelter_id}/request-visit(shelter_id=${shelter.id})}" class="btn btn-success">Request Visit</a>
        <a th:href="@{/pets}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>
