<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Shelter Details</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Shelter Details</h1>

    <div>
        <p><strong>Name:</strong> <span th:text="${shelter.fullName}"></span></p>
        <p><strong>Location:</strong> <span th:text="${shelter.location}"></span></p>
        <p><strong>Email:</strong> <span th:text="${shelter.email}"></span></p>
        <p><strong>Contact Number:</strong> <span th:text="${shelter.contactNumber}"></span></p>
    </div>

    <div>
        <a sec:authorize="hasRole('ROLE_ADOPTER')" th:href="@{/adopter/shelter/{shelter_id}/request-visit(shelter_id=${shelter.id})}" class="btn btn-success">Request Visit</a>
        <a id="backButton" th:href="@{/pets}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let referrer = document.referrer;
        let backButton = document.getElementById("backButton");

        if (referrer) {
            backButton.href = referrer;
        } else {
            backButton.href = "/pets";
        }
    });
</script>