<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
</head>
<body>
<div layout:fragment="main-content">
  <h1>Welcome to the Pet Adoption Platform!</h1>

  <!-- Content for Admin -->
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <h2>Admin Dashboard</h2>
    <p>Welcome, Admin! Here are your tools:</p>
    <ul>
      <li><a th:href="@{/admin/users}">Manage Users</a></li>
      <li><a th:href="@{/admin/shelters}">Review New Shelters</a></li>
      <li><a th:href="@{/admin/pets/all}">View All Pets</a></li>
      <li><a th:href="@{/admin/pets}">Review New Pet Listings</a></li>
      <li><a th:href="@{/admin/adoption-requests}">View All Adoption Requests</a></li>
    </ul>
  </div>

  <!-- Content for Shelter -->
  <div sec:authorize="hasRole('ROLE_SHELTER')">
    <h2>Shelter Dashboard</h2>
    <p>Welcome, Shelter! Manage your adoption requests, view your pets and add new ones:</p>
    <ul>
      <li><a th:href="@{/adoption-requests/shelter}">View Adoption Requests for Your Shelter</a></li>
      <li><a th:href="@{/shelter/pets}">View All the Pets for Your Shelter</a></li>
      <li><a th:href="@{/shelter/new-pet}">Add New Pets to Your Shelter</a></li>
      <li><a th:href="@{/shelter/visits}">View Visits to Your Shelter</a></li>
    </ul>
  </div>

  <!-- Content for Vet -->
  <div sec:authorize="hasRole('ROLE_VET')">
    <h2>Vet Dashboard</h2>
    <p>Welcome, Vet! You can manage the health status of the pets you've examined:</p>
    <ul>
      <li><a th:href="@{/vet/health-status}">View Adoption Requests for Your Shelter</a></li>
    </ul>
  </div>

  <!-- Content for Adopter -->
  <div sec:authorize="hasRole('ROLE_ADOPTER')">
    <h2>Adopter Dashboard</h2>
    <p>Welcome, Adopter! View your adoption requests:</p>
    <ul>
      <li><a th:href="@{/adoption-requests/adopter}">View Your Adoption Requests</a></li>
    </ul>
  </div>
</div>
</body>
</html>
